@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;
@custom-variant dark (&:where(.dark, .dark *));

html,
body {
  @apply bg-white text-gray-900 dark:bg-[#1c1b23] dark:text-white;
  min-height: 100%;
  font-family: 'Roboto Mono', monospace;
}
