@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


nav {
    border: 4px solid #d15e21;
    display: flex;
    padding: 1rem;
    align-items: center;
}

a:hover {
    color: #d15e21;
}